<h2 class="user-span">User Reviews</h2>
<div class="row">
  <div class="col-md-4">
    <div class="user-span">
      {{items[0].name}} by {{items[0].seller}}
      <br>
      {{users[0].name}}
    </div>
    <br>
    {{users[0].review}}
  </div>
  <div class="col-md-4">
    <div class="user-span">
      {{items[5].name}} by {{items[5].seller}}
      <br>
      {{users[1].name}}
    </div>
    <br>
    {{users[1].review}}
  </div>
  <div class="col-md-4">
    <div class="user-span">
      {{items[3].name}} by {{items[3].seller}}
      <br>
      {{users[2].name}}
    </div>
    <br>
    {{users[2].review}}
  </div>

</div>
