<div class="row">
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/bear.jpeg" alt="">
    {{items[0].name}} by {{items[0].seller}} for ${{items[0].price}}
  </div>
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/bear2.jpeg" alt="">
    {{items[1].name}} by {{items[1].seller}} for ${{items[1].price}}
  </div>
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/scarfs.jpeg" alt="">
    {{items[2].name}} by {{items[2].seller}} for ${{items[2].price}}
  </div>
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/shirt.jpeg" alt="">
    {{items[3].name}} by {{items[3].seller}} for ${{items[3].price}}
  </div>
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/toys.jpeg" alt="">
    {{items[4].name}} by {{items[4].seller}} for ${{items[4].price}}
  </div>
  <div class="col-sm-2">
    <img width="150" height="150" src="../assets/images/wallet.jpeg" alt="">
    {{items[5].name}} by {{items[5].seller}} for ${{items[5].price}}
  </div>
</div>
