.body {
  color: #FCFFF5;
  background-color: rgba(0, 0, 0) !important;
  background-image: url("https://i.gifer.com/2iiH.gif");
  background-repeat: repeat;
  padding-bottom: 50%;
}

#logo {
  color: #FCFFF5;
}
