<div id="popular-now">

  <h2>Popular Now</h2>
  <div class="row">
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/bear.jpeg" alt="">
    </div>
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/wallet.jpeg" alt="">
    </div>
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/scarfs.jpeg" alt="">
    </div>
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/toys.jpeg" alt="">
    </div>
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/bear2.jpeg" alt="">
    </div>
    <div class="col-sm-2">
      <img width="200" height="200" src="../assets/images/shirt.jpeg" alt="">
    </div>
  </div>

</div>
