
<h2 id="popular-title">Popular Now</h2>
  <div id="popular-now">
    <div class="row">
      <div class=" games col-sm-2">
        <img width="150" src="../assets/images/Celeste.png" alt="">
        Game: <a (click)="goToDetailPage(items[0])"> {{items[0].name}} </a>
        <br>
        Category: {{items[0].category}}
        <br>
        More about: {{items[0].description}}
      </div>
      <div class="games col-sm-2">
        <img width="150" src="../assets/images/mario64.jpg" alt="">
        Game: {{items[1].name}}
        <br>
        Category: {{items[1].category}}
        <br>
        More about: {{items[1].description}}
      </div>
      <div class="games col-sm-2">
        <img width="150" src="../assets/images/oot.jpg" alt="">
        Game: {{items[2].name}}
        <br>
        Category: {{items[2].category}}
        <br>
        More about: {{items[2].description}}
      </div>
      <div class="games col-sm-2">
        <img width="150" src="../assets/images/pape.jpg" alt="">
        Game: {{items[3].name}}
        <br>
        Category: {{items[3].category}}
        <br>
        More about: {{items[3].description}}
      </div>
    </div>
  </div>
