

#popular-title {
  text-align: center;
  color: #D1DBBD;
}

#games-list-title {
  margin-top: 50px;
}

#popular-now {
  display: flex;
  margin: 0 auto;
}

.transparent-box {
  background-color: rgba(0, 0, 0, 0.81) !important;
}

.games {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  color: #D1DBBD;
}

#games-list-title {
  color: #D1DBBD;
}

.list-of-games {
  width: 250px;
  float: left;
  color: #D1DBBD;
}
